// snapshot-confirmation-dialog.component.scss

mat-dialog-title {
  color: #333;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

mat-dialog-content {
  color: #555;
  font-size: 16px;
  margin-bottom: 20px;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;

  button {
    margin-left: 10px;
    padding: 6px 15px;
    border-radius: 4px;
    background-color: #f7f7f7;
    color: #333;
    text-transform: uppercase;
    font-weight: 500;

    &:hover {
      background-color: #e7e7e7;
    }
  }
}
