<div class="deployment-dashboard">
  <mat-card>
    <mat-card-header>
      <mat-card-title-group style="display: flex; align-items: center">
        <mat-card-title>Deployment Management</mat-card-title>
        <mat-card-subtitle
          >Explore and manage your deployments here</mat-card-subtitle
        >
        <div style="flex: 1"></div>
        <button (click)="refresh()" mat-icon-button aria-label="Refresh">
          <mat-icon>refresh</mat-icon>
        </button>
        <button mat-flat-button color="primary" routerLink="/create">
          <span>New Deployment</span>
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content style="padding: 24px">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
        <ng-container *ngFor="let column of columnsToDisplay">
          <ng-container *ngIf="column.key === 'status'; else actionColumn">
            <ng-container matColumnDef="{{ column.key }}">
              <th class="header" mat-header-cell *matHeaderCellDef>
                {{ column.header }}
              </th>
              <td mat-cell *matCellDef="let element">
                <div class="align-with-icon">
                  <mat-icon
                    [ngStyle]="{
                      color: getBackgroundColor(element[column.key]),
                    }"
                    >{{ getMatIcon(element[column.key]) }}</mat-icon
                  >
                  <span>{{ element[column.key] }}</span>
                </div>
              </td>
            </ng-container>
          </ng-container>

          <ng-template #actionColumn>
            <ng-container *ngIf="column.key === 'action'; else dateColumn">
              <ng-container matColumnDef="{{ column.key }}">
                <th class="header" mat-header-cell *matHeaderCellDef>
                  {{ column.header }}
                </th>
                <td mat-cell *matCellDef="let element">
                  <ng-container [ngSwitch]="element.status">
                    <ng-container *ngSwitchCase="'running'">
                      <ng-container *ngIf="!element.loading">
                        <button
                          [disabled]="currentlyPolling"
                          (click)="stopInstance(element)"
                          mat-icon-button
                          class="action-button"
                          mat-tooltip="Stop this instance"
                          aria-label="Stop instance"
                        >
                          <mat-icon
                            [ngClass]="
                              currentlyPolling
                                ? 'disabled-button'
                                : 'stop-button'
                            "
                            >square</mat-icon
                          >
                        </button>
                      </ng-container>
                      <div class="spinner-container" *ngIf="element.loading">
                        <mat-spinner
                          *ngIf="element.loading"
                          diameter="24"
                        ></mat-spinner>
                      </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'stopped'">
                      <ng-container *ngIf="!element.loading">
                        <button
                          [disabled]="currentlyPolling"
                          (click)="startInstance(element)"
                          mat-icon-button
                          class="action-button"
                          mat-tooltip="Start this instance"
                          aria-label="Start instance"
                        >
                          <mat-icon
                            [ngClass]="
                              currentlyPolling
                                ? 'disabled-button'
                                : 'start-button'
                            "
                            >play_arrow</mat-icon
                          >
                        </button>
                      </ng-container>
                      <div class="spinner-container" *ngIf="element.loading">
                        <mat-spinner diameter="24"></mat-spinner>
                      </div>
                    </ng-container>

                    <ng-container *ngSwitchDefault>
                      <div class="spinner-container">
                        <mat-spinner diameter="24"></mat-spinner>
                      </div>
                    </ng-container>
                  </ng-container>

                  <button
                    (click)="editInstance(element.deploymentId)"
                    color="primary"
                    mat-icon-button
                    aria-label="Refresh"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button
                    (click)="deleteInstance(element.deploymentId)"
                    color="warn"
                    mat-icon-button
                    aria-label="Refresh"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>
            </ng-container>
          </ng-template>

          <ng-template #dateColumn>
            <ng-container
              *ngIf="column.key === 'timeToExpire'; else otherColumns"
            >
              <ng-container matColumnDef="{{ column.key }}">
                <th class="header" mat-header-cell *matHeaderCellDef>
                  {{ column.header }}
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ convertDateTime(element[column.key]) }}
                </td>
              </ng-container>
            </ng-container>
          </ng-template>

          <ng-template #otherColumns>
            <ng-container matColumnDef="{{ column.key }}">
              <th class="header" mat-header-cell *matHeaderCellDef>
                {{ column.header }}
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element[column.key] }}
              </td>
            </ng-container>
          </ng-template>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr *matNoDataRow class="mat-row">
          <td class="mat-cell" colspan="6">
            <div
              *ngIf="!apiService.tableLoading()"
              style="display: flex; justify-content: center; margin: 12px"
            >
              No deployed instances found.
            </div>
          </td>
        </tr>
      </table>
      <div *ngIf="apiService.tableLoading()">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </mat-card-content>
  </mat-card>
</div>
