name: AWS Lambda Golang Image Build

on:
  push:
    branches: [main]
    paths:
      - "server/**"

env:
  S3_BUCKET_NAME: turbo-deploy-golang-bucket
  S3_ZIP_KEY: lambda/lambda_function.zip
  AWS_REGION: us-east-2
  LAMBDA_FUNCTION_NAME: turbo-deploy-golang-lambda

jobs:
  build:
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: arn:aws:iam::560610306577:role/turbo-deploy-github-actions
          role-session-name: turbo-deploy-github-actions-role-session

      - name: Test aws creds
        id: aws_account_id
        shell: bash
        run: echo "AWS_ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)" >> $GITHUB_ENV

      - name: Build, zip and upload to AWS S3
        working-directory: ./e
        id: build-image
        env:
          AWS_ACCOUNT_ID: ${{ env.AWS_ACCOUNT_ID }}
        run: |
          echo "Compiling code to binary"
          CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o bootstrap .
          echo "Packaging binary file into ZIP file"
          zip lambda_function.zip bootstrap
          aws s3 cp ./lambda_function.zip s3://$S3_BUCKET_NAME/$S3_ZIP_KEY

      - name: Update Lambda function image
        run: |
          aws lambda update-function-code \
            --function-name $LAMBDA_FUNCTION_NAME \
            --s3-bucket $S3_BUCKET_NAME \
            --s3-key $S3_ZIP_KEY
