# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Angular UI Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
    paths:
      - .github/workflows/**
      - client/**

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout

jobs:
  build:
    name: Build and Upload to S3
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]
        environment: [production]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    defaults:
      run:
        working-directory: ./client

    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: ./client/package-lock.json

      - name: Install NPM packages
        run: npm ci

      - name: Install Angular
        run: npm install -g @angular/cli@20

      - name: Run Unit tests
        run: npm run test:ci

      - name: Build UI
        run: |
          env_orig="${{ matrix.environment }}"
          env_without_preqin="${env_orig#preqin-}"
          ng b -c $env_without_preqin

      - name: Upload build artifact
        uses: actions/upload-artifact@v6
        with:
          name: UI-Build-${{ matrix.environment }}
          path: ./client/dist/
          retention-days: 1
